<div class="modal login">
  <div class="modal_box">
    <div class="modal_logo"></div>

    {% if shop.checkout.guest_login %}
      {% form 'guest_login' %}
      <input class="button guest_login_button" type="submit" value="GUEST LOGIN" />
      {% endform %}
    {% endif %}

    <div id="login_container">
      <h2>Sign Into Your Account</h2>

      <!-- TODO: error styling -->
      {% form 'customer_login' %}
        {{ form.errors | default_errors }}

        <input class="modal_input" type="email" name="customer[email]" id="customer_email" placeholder="Email Address" />

        {% if form.password_needed %}
          <input class="modal_input" type="password" name="customer[password]" id="customer_password" placeholder="Password" />
          <a href="#" id="forgot_password" class="i-forgot">Forgot your password?</a>
        {% endif %}

        <a class="button cancel_button" href="{{ shop.url }}">CANCEL</a>
        <input type="submit" class="button login_button" value="LOGIN" />

      {% endform %}
    </div>

    <div id="recover_password_container" style="display:none;">
      <h2>Reset Password</h2>
      <p class="note">We will send you an email to reset your password.</p>

      {% form 'recover_customer_password' %}
      {{ form.errors | default_errors }}

      <input class="modal_input" type="email" name="email" id="recover_email" placeholder="Email Address" />

      <a href="#" class="button cancel_button">CANCEL</a>
      <input class="button login_button" type="submit" value="RESET" />
      {% endform %}
    </div>

  </div>
</div>
