<div class="modal signup">
  <div class="modal_box">
    <div class="modal_logo"></div>
    <div id="signup_container">
      <h2 class="title">Create Account</h2>

      <!-- TODO: error styling -->
      {% form 'create_customer' %}

        {{ form.errors | default_errors }}

        <div class="clearfix large_form">
          <label for="first_name" class="label"></label>
          <input type="text" value="" name="customer[first_name]" id="first_name" class="modal_input" size="30" placeholder="First Name"  />
        </div>

        <div class="clearfix large_form">
          <label for="last_name" class="label"></label>
          <input type="text" value="" name="customer[last_name]" id="last_name" class="modal_input" size="30" placeholder="Last Name"  />
        </div>

        <div class="clearfix large_form">
          <label for="email" class="label"></label>
          <input type="email" value="" name="customer[email]" id="email" class="modal_input {% if form.errors.messages['email'] %}error{% endif %}" size="30" placeholder="Email Address" />
        </div>

        <div class="clearfix large_form">
          <label for="password" class="label"></label>
          <input type="password" value="" name="customer[password]" id="password" class="modal_input {% if form.errors.messages['password'] %}error{% endif %}" size="31" placeholder="Password" />
        </div>

        <a class="button cancel_button" href="{{ shop.url }}">CANCEL</a>
        <input class="button create_button" type="submit" value="CREATE" />

      {% endform %}
    </div>
  </div>
</div>
