<section class="home_page">
  <div class="homepage-products clearfix">

    <span class="message">Better Than Yesterday</span>

      {% if collections.new-designs.products.size > 0 %}
        {% for product in collections.new-designs.products %}
          {% include 'product-display' %}
        {% endfor %}
      {% endif %}

  </div>
</section>
