<section class="home_page">
  <div class="homepage-products clearfix">

    <span class="message">Better Than Yesterday</span>

      {% if collections.new-designs.products.size > 0 %}
        {% for product in collections.new-designs.products %}
          {% include 'product-display' %}
        {% endfor %}
      {% endif %}

  </div>

  <div class="homepage-feature">
    <span class="message" style="text-align: center;">New Designs!</span>

    <a href="http://btywear.com/products/mens-buzz-saw-phx-shirt"><img src="{{ 'phoenix-logo-shirt.jpg' | asset_url }}" alt="Phoenix Logo Shirt" /></a>
    <br/>
    <p class="content-wrapper">Get your hands on the first in a series of new designs that are coming soon. Available in <a href="http://btywear.com/products/mens-buzz-saw-phx-shirt">men's</a> or <a href="http://btywear.com/products/womens-buzz-saw-phx-shirt">women's</a> Rise to the occasion and live BTY!</p>
  </div>
</section>
