<section class="home_page">
  <div class="homepage-products clearfix">

    <span class="message">Better Than Yesterday</span>

      {% if collections.new-designs.products.size > 0 %}
        {% for product in collections.new-designs.products %}
          {% include 'product-display' %}
        {% endfor %}
      {% endif %}

  </div>

  <div class="homepage-feature">
    <span class="message" style="text-align: center;">Congrats Nikki!</span>

    <a href="http://btywear.com/products/bty-nikki-ralston-sponsored-womens-tank"><img src="{{ 'nikki-sponsored.jpg' | asset_url }}" alt="Nikki Ralston Sponsored" /></a>
    <br/>
    <p style="font-size: 16px;">Congratulations to BTY Athlete Nikki Ralston for her amazing 6th place finish in the 2014 CrossFit Games! She is definitely an athlete that lives the BTY lifestyle, and we couldn't be prouder to have her on our team. Buy a custom <a href="http://btywear.com/products/bty-nikki-ralston-sponsored-mens-tee">men's</a> or <a href="http://btywear.com/products/bty-nikki-ralston-sponsored-womens-tank">women's</a> shirt to show your support and a part of the proceeds go to help pay for her trip! </p>
  </div>
</section>
