<section class="home_page">
  <span class="message">All Gas. No Brake.</span>

  {% for product in collections.frontpage.products limit:2 %}
    {% include 'product-display' %}
  {% endfor %}

  <a class="product featured" href="/collections/new-designs">
    <img src="{{ 'pigs.jpg' | asset_url }}" alt="New Designs" />
  </a>
</section>
